# 문제1
# range()를 사용하여, 1~100의 수 중, 7의 배수를 리스트 a에 담으시오.

In [222]:
a = []
for i in range(1, 100):
    if i % 7 == 0:
        a.append(i)
print(a)       


a = list(range(7,101,7))
a

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

# 문제2 
# a에서 인덱스 4~7까지 조회하시오.

In [223]:
a[4:8]

[35, 42, 49, 56]

# 문제3
#  a의 끝에서 세번째 값을 조회하시오.

In [224]:
a[-3]

84

# 문제4
# a에 데이터 갯수(길이)를 구하시오.

In [225]:
len(a)

14

# 문제5
# a 값들의 합과 평균을 구하시오.

In [226]:
print(sum(a))
print(sum(a) / len(a))

735
52.5

# 문제6
# [심화] 반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아봅시다.

In [229]:
b = []
for i in range(1, 101):
    for j in range(2, i+1):
        if (j == i):
            b.append(i)
        elif (i % j == 0):
            break
print(b) 

c = []
for i in range(2, 101):
    count = 0
    for j in range(1, i+1):
        if i % j == 0:
            count += 1    
    if count == 2:
        c.append(i)
print(c)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# 문제7
# [심화] 6번의 코드를 참조하여, 소수 추출기 함수를 만들어봅시다.

In [230]:
def prime(n):
    
    b = []    
    for i in range(1, n):
        for j in range(2, i+1):
            if (j == i):
                b.append(i)
            elif (i % j == 0):
                break
    return b

print(prime(101))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# 문제8
# 아래 값으로 딕셔너리 d를 생성해봅시다.

In [204]:
d = {"v1":[1,2,3], "v2":{'a':23, 'b':[4,5]}} 
print(d)

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}}

# 문제9
# d에서 [1,2,3]을 출력해봅시다.

In [231]:
print(d["v1"])

[1, 2, 3]

# 문제10
# d에서 23을 출력해봅시다.

In [150]:
print(d["v2"]["a"])

23

# 문제11
# d에서 5를 출력해 봅시다.

In [151]:
print(d["v2"]["b"][1])

5

# 문제12
#  d에 'newKey', value(1,2)를 추가하고 출력해봅시다.

In [152]:
d["newKey"]=[1,2]
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}, 'newKey': [1, 2]}

# 문제13
# [심화] 반복문과 딕셔너리를 사용하여 주어진 단어에서 가장 많이 사용된 알파벳을 출력해봅시다.
* 주어진 단어 : "Big Data Analysis" 
* 대문자, 소문자는 구분하지 않습니다. 
* 가장 많이 사용된 알파벳을 2개 이상일 경우, 전부 출력해줍니다.

In [210]:
S = "Big Data Analysis"

In [211]:
'c' in d

False

In [220]:
alphabet = {}
for i in S:
    if i not in alphabet:
        alphabet[i] = 1
    else:
        alphabet[i] = 1
alphabet

{'B': 1,
 'i': 1,
 'g': 1,
 ' ': 1,
 'D': 1,
 'a': 1,
 't': 1,
 'A': 1,
 'n': 1,
 'l': 1,
 'y': 1,
 's': 1}

In [221]:
for i in alphabet:
    print(i)

B
i
g

D
a
t
A
n
l
y
s

In [219]:
string = "big data analysis"
print(string)
dic = {}
for x in string:
    if x in dic:
        dic[x] += 1
    else:
        dic[x] = 1

print(dic)
print(max(dic, key = dic.get))
print([k for k,v in dic.items() if max(dic.values()) == v])

big data analysis
{'b': 1, 'i': 2, 'g': 1, ' ': 2, 'd': 1, 'a': 4, 't': 1, 'n': 1, 'l': 1, 'y': 1, 's': 2}
a
['a']